ConsoleContributor/Connected Services/SapoContributorService/ContributorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59349/ContributorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:59349/ContributorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="AddPolitician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="party" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPoliticianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPoliticianResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProposalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPoliticianVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPolitician" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idProposal" type="q2:guid" />
        <xs:element minOccurs="0" name="vote" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPoliticianVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPoliticianVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPoliticianVoteByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="politicianName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposalName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vote" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPoliticianVoteByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPoliticianVoteByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAndPersist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAndPersistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyAndPersistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPoliticians">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPoliticiansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="ListPoliticiansResult" nillable="true" type="q3:QueueOfPoliticiandWt8xKhp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProposals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="ListProposalsResult" nillable="true" type="q4:QueueOfProposaldWt8xKhp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>