ConsoleContributor/Connected Services/SapoContributorService/ContributorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContributorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59349/ContributorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59349/ContributorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59349/ContributorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:59349/ContributorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContributorService_AddPolitician_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPolitician" />
  </wsdl:message>
  <wsdl:message name="IContributorService_AddPolitician_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPoliticianResponse" />
  </wsdl:message>
  <wsdl:message name="IContributorService_AddProposal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProposal" />
  </wsdl:message>
  <wsdl:message name="IContributorService_AddProposal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProposalResponse" />
  </wsdl:message>
  <wsdl:message name="IContributorService_AddPoliticianVote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPoliticianVote" />
  </wsdl:message>
  <wsdl:message name="IContributorService_AddPoliticianVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPoliticianVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IContributorService_AddPoliticianVoteByName_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPoliticianVoteByName" />
  </wsdl:message>
  <wsdl:message name="IContributorService_AddPoliticianVoteByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPoliticianVoteByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IContributorService_VerifyAndPersist_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAndPersist" />
  </wsdl:message>
  <wsdl:message name="IContributorService_VerifyAndPersist_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAndPersistResponse" />
  </wsdl:message>
  <wsdl:message name="IContributorService_ListPoliticians_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPoliticians" />
  </wsdl:message>
  <wsdl:message name="IContributorService_ListPoliticians_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPoliticiansResponse" />
  </wsdl:message>
  <wsdl:message name="IContributorService_ListProposals_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProposals" />
  </wsdl:message>
  <wsdl:message name="IContributorService_ListProposals_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProposalsResponse" />
  </wsdl:message>
  <wsdl:portType name="IContributorService">
    <wsdl:operation name="AddPolitician">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributorService/AddPolitician" message="tns:IContributorService_AddPolitician_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributorService/AddPoliticianResponse" message="tns:IContributorService_AddPolitician_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProposal">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributorService/AddProposal" message="tns:IContributorService_AddProposal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributorService/AddProposalResponse" message="tns:IContributorService_AddProposal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPoliticianVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributorService/AddPoliticianVote" message="tns:IContributorService_AddPoliticianVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributorService/AddPoliticianVoteResponse" message="tns:IContributorService_AddPoliticianVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPoliticianVoteByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributorService/AddPoliticianVoteByName" message="tns:IContributorService_AddPoliticianVoteByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributorService/AddPoliticianVoteByNameResponse" message="tns:IContributorService_AddPoliticianVoteByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAndPersist">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributorService/VerifyAndPersist" message="tns:IContributorService_VerifyAndPersist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributorService/VerifyAndPersistResponse" message="tns:IContributorService_VerifyAndPersist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPoliticians">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributorService/ListPoliticians" message="tns:IContributorService_ListPoliticians_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributorService/ListPoliticiansResponse" message="tns:IContributorService_ListPoliticians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProposals">
      <wsdl:input wsaw:Action="http://tempuri.org/IContributorService/ListProposals" message="tns:IContributorService_ListProposals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContributorService/ListProposalsResponse" message="tns:IContributorService_ListProposals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContributorService" type="tns:IContributorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPolitician">
      <soap:operation soapAction="http://tempuri.org/IContributorService/AddPolitician" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProposal">
      <soap:operation soapAction="http://tempuri.org/IContributorService/AddProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoliticianVote">
      <soap:operation soapAction="http://tempuri.org/IContributorService/AddPoliticianVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoliticianVoteByName">
      <soap:operation soapAction="http://tempuri.org/IContributorService/AddPoliticianVoteByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAndPersist">
      <soap:operation soapAction="http://tempuri.org/IContributorService/VerifyAndPersist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPoliticians">
      <soap:operation soapAction="http://tempuri.org/IContributorService/ListPoliticians" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProposals">
      <soap:operation soapAction="http://tempuri.org/IContributorService/ListProposals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContributorService">
    <wsdl:port name="BasicHttpBinding_IContributorService" binding="tns:BasicHttpBinding_IContributorService">
      <soap:address location="http://localhost:59349/ContributorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>