ConsoleElector/Connected Services/SapoElectorService/SapoElectorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SapoElectorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57993/SapoElectorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57993/SapoElectorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57993/SapoElectorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISapoElectorService_AddElector_InputMessage">
    <wsdl:part name="parameters" element="tns:AddElector" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_AddElector_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddElectorResponse" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_AddElectorVote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddElectorVote" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_AddElectorVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddElectorVoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_AddElectorVoteByName_InputMessage">
    <wsdl:part name="parameters" element="tns:AddElectorVoteByName" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_AddElectorVoteByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddElectorVoteByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_GetAllProposals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProposals" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_GetAllProposals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProposalsResponse" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_GetAllPoliticians_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPoliticians" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_GetAllPoliticians_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPoliticiansResponse" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_GetElectorsNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectorsNumber" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_GetElectorsNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectorsNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_PersistData_InputMessage">
    <wsdl:part name="parameters" element="tns:PersistData" />
  </wsdl:message>
  <wsdl:message name="ISapoElectorService_PersistData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersistDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ISapoElectorService">
    <wsdl:operation name="AddElector">
      <wsdl:input wsaw:Action="http://tempuri.org/ISapoElectorService/AddElector" message="tns:ISapoElectorService_AddElector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISapoElectorService/AddElectorResponse" message="tns:ISapoElectorService_AddElector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddElectorVote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISapoElectorService/AddElectorVote" message="tns:ISapoElectorService_AddElectorVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISapoElectorService/AddElectorVoteResponse" message="tns:ISapoElectorService_AddElectorVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddElectorVoteByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISapoElectorService/AddElectorVoteByName" message="tns:ISapoElectorService_AddElectorVoteByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISapoElectorService/AddElectorVoteByNameResponse" message="tns:ISapoElectorService_AddElectorVoteByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProposals">
      <wsdl:input wsaw:Action="http://tempuri.org/ISapoElectorService/GetAllProposals" message="tns:ISapoElectorService_GetAllProposals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISapoElectorService/GetAllProposalsResponse" message="tns:ISapoElectorService_GetAllProposals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPoliticians">
      <wsdl:input wsaw:Action="http://tempuri.org/ISapoElectorService/GetAllPoliticians" message="tns:ISapoElectorService_GetAllPoliticians_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISapoElectorService/GetAllPoliticiansResponse" message="tns:ISapoElectorService_GetAllPoliticians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectorsNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISapoElectorService/GetElectorsNumber" message="tns:ISapoElectorService_GetElectorsNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISapoElectorService/GetElectorsNumberResponse" message="tns:ISapoElectorService_GetElectorsNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersistData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISapoElectorService/PersistData" message="tns:ISapoElectorService_PersistData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISapoElectorService/PersistDataResponse" message="tns:ISapoElectorService_PersistData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISapoElectorService" type="tns:ISapoElectorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddElector">
      <soap:operation soapAction="http://tempuri.org/ISapoElectorService/AddElector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddElectorVote">
      <soap:operation soapAction="http://tempuri.org/ISapoElectorService/AddElectorVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddElectorVoteByName">
      <soap:operation soapAction="http://tempuri.org/ISapoElectorService/AddElectorVoteByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProposals">
      <soap:operation soapAction="http://tempuri.org/ISapoElectorService/GetAllProposals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPoliticians">
      <soap:operation soapAction="http://tempuri.org/ISapoElectorService/GetAllPoliticians" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectorsNumber">
      <soap:operation soapAction="http://tempuri.org/ISapoElectorService/GetElectorsNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersistData">
      <soap:operation soapAction="http://tempuri.org/ISapoElectorService/PersistData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SapoElectorService">
    <wsdl:port name="BasicHttpBinding_ISapoElectorService" binding="tns:BasicHttpBinding_ISapoElectorService">
      <soap:address location="http://localhost:57993/SapoElectorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>