ConsoleElector/Connected Services/SapoElectorService/SapoElectorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57993/SapoElectorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:57993/SapoElectorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" />
  <xs:element name="AddElector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddElectorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElectorVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idElector" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idProposal" type="q2:guid" />
        <xs:element minOccurs="0" name="vote" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElectorVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddElectorVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElectorVoteByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="electorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposalName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vote" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElectorVoteByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddElectorVoteByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="GetAllProposalsResult" nillable="true" type="q3:ArrayOfProposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPoliticians">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPoliticiansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="GetAllPoliticiansResult" nillable="true" type="q4:ArrayOfPolitician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectorsNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectorsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetElectorsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersistDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>