ConsoleAdmin/Connected Services/SapoManagerService/SapoManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54499/SapoManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" />
  <xs:import schemaLocation="http://localhost:54499/SapoManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:54499/SapoManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GeneratePolitician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="party" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePoliticianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="GeneratePoliticianResult" nillable="true" type="q1:Politician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="GenerateProposalResult" nillable="true" type="q2:Proposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePoliticianProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPolitician" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idProposal" type="q4:guid" />
        <xs:element minOccurs="0" name="vote" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePoliticianProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="GeneratePoliticianProposalResult" nillable="true" type="q5:PoliticianProposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateElector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateElectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="GenerateElectorResult" nillable="true" type="q6:Elector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateElectorProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idElector" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idProposal" type="q8:guid" />
        <xs:element minOccurs="0" name="vote" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateElectorProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="GenerateElectorProposalResult" nillable="true" type="q9:ElectorProposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePoliticians">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="politiciansQueue" nillable="true" type="q10:QueueOfPoliticiandWt8xKhp" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePoliticiansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePoliticiansResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProposals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="proposalsQueue" nillable="true" type="q11:QueueOfProposaldWt8xKhp" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProposalsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveElectors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="electorsQueue" nillable="true" type="q12:QueueOfElectordWt8xKhp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveElectorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveElectorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveElectorProposals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="electorProposalsQueue" nillable="true" type="q13:QueueOfElectorProposaldWt8xKhp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveElectorProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveElectorProposalsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePoliticianProposals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="politicianProposalsQueue" nillable="true" type="q14:QueueOfPoliticianProposaldWt8xKhp" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePoliticianProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePoliticianProposalsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProposals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="LoadProposalsResult" nillable="true" type="q15:ArrayOfProposal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPoliticians">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPoliticiansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfSapoManagerLibrary" minOccurs="0" name="LoadPoliticiansResult" nillable="true" type="q16:ArrayOfPolitician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticateContributor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticateContributorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutenticateContributorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isContributor" type="xs:boolean" />
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>